
.container-challenger-02{
    background-color: whitesmoke;
    border-left: 1px black solid;

    text-align: center;
    width: 50vw;
    padding: 15px;
}

.container-challenger-02 button{
    padding: 10px;
    width: 15vw;

    font-size: 15px;
    cursor: pointer;
} 

.container-element-challenger-02{

    padding: 15px;
}

.container-challenger-02 input{
    padding: 5px;
    margin-left: 10px;
    width: 5vw;
}

.container-element-challenger-02 h3{
    padding: 9px;
}

#result-challenge-02{

    margin-top: 15px;
}